body {
  background: #ffffff;
  text-align: center;
  padding: 20px;
  color: #575757;
  font: 14px/21px Arial,Helvetica,sans-serif;
}

a { color: #B93F14; }

a:hover { text-decoration: none; }

ol {
  width: 600px;
  text-align: left;
  margin: 15px auto
}

canvas { border: 1px solid black; }

#sound_config{
  border: 1px solid black;
  width: 25rem;
  background-color: #eaeaea;
  padding: 10px 5px;
  margin: 10px auto 0;
}

#sound_config .option-title {
  font-size: 150%;
  color: black;
  margin-bottom: 10px;
}

#sound_config .btn{
  width: 8rem;
  margin: 0 2%;
  color: white;
  padding: 4px;
  cursor: pointer;
  border-radius: 5px;
  border:none;
  box-shadow: 2px 2px 4px black;
}



#sound_config .btn.reproduzir, .btn.aumentar{ background-color: #111EFF; }
#sound_config .btn.reproduzir:hover, .btn.aumentar:hover{ background-color: #040EB9; }

#sound_config .btn.pausar, .btn.diminuir{ background-color: #C10303; }
#sound_config .btn.pausar:hover, .btn.diminuir:hover{ background-color: #790101; }

#music_control, #volume_control{ text-align: left; color: #1C1C1C; }
#sound_config #music_control span:first-of-type{ width: 25%; display: inline-block; }
#sound_config #volume_control span:first-of-type{ width: 25%; display: inline-block; }