body {
  background: #ffffff;
  text-align: center;
  padding: 20px;
  color: #575757;
  font: 14px/21px Arial,Helvetica,sans-serif;
}

a { color: #B93F14; }

a:hover { text-decoration: none; }

ol {
  width: 600px;
  text-align: left;
  margin: 15px auto
}

canvas { border: 1px solid black; }

#sound_config{
  border: 1px solid black;
  width: 25rem;
  background-color: #eaeaea;
  padding: 10px 5px;
  margin: 10px auto 0;
}

#sound_config .option-title {
  font-size: 150%;
  color: black;
  margin-bottom: 10px;
}

#sound_config .btn{
  width: 8rem;
  margin: 0 2%;
  color: white;
  padding: 4px;
  cursor: pointer;
  border-radius: 5px;
  border:none;
  box-shadow: 2px 2px 4px black;
}



#sound_config .btn.reproduzir, .btn.aumentar{ background-color: #111EFF; }
#sound_config .btn.reproduzir:hover, .btn.aumentar:hover{ background-color: #040EB9; }

#sound_config .btn.pausar, .btn.diminuir{ background-color: #C10303; }
#sound_config .btn.pausar:hover, .btn.diminuir:hover{ background-color: #790101; }

#music_control, #volume_control{ text-align: left; color: #1C1C1C; }
#sound_config #music_control span:first-of-type{ width: 25%; display: inline-block; }
#sound_config #volume_control span:first-of-type{ width: 25%; display: inline-block; }

.main-menu{
  margin: 0 auto;
  background-color: rgba(238, 238, 238, 0.4);
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0.4)),
  linear-gradient(-45deg, rgba(0, 0, 0, 0.4) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0.4));
  background-size:60px 60px;
  height: auto;
  padding: 10px 0;
  position: relative;
}

.main-menu .game-title {
  font-size: 200%;
  font-weight: bold;
  color: #006004;
  text-shadow: 2px 2px 2px silver;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 0;
}

#btn_play, #btn_instructions, #btn_options{
  width: 80px;
  height: 80px;
  border: 5px solid #004D02;
  border-radius: 50%;
  color: white;
  background-color: #005909;
  font-size: 0.6rem;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
}

#btn_play.disabled, #btn_instructions.disabled, #btn_options.disabled{
  background-color: #c7c7c7;
  border-color: #d5d5d5;
  cursor: default;
}

#btn_play.disabled:hover, #btn_instructions.disabled:hover, #btn_options.disabled:hover{
  background-color: #c7c7c7;
  border-color: #d5d5d5;
}

#btn_play:hover, #btn_instructions:hover, #btn_options:hover{
  background-color: #00AF17;
  border-color: #008E04;
}

#btn_play:focus, #btn_instructions:focus, #btn_options:focus{ outline: none; }

.menu-options ul{ list-style: none; padding-left: 0; }
.menu-options ul li{
  margin: 50px auto;
}

.developed-by{
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  color: #5E5E5E;
  text-shadow: 1px 1px 5px #838383;
  background-color: rgba(255, 255, 255, 0.5);
}

hr.hr-footer{ position: absolute; bottom: 25px; width: 100%; }

.instrucoes-content{
  background-color: #ededed;
  padding: 1px 15px 10px;
}

/* ------- Media queries -- Para responsividade ------- */

/* Small devices (landscape phones, 34em and up) */
@media (min-width: 34em) {
  body{ padding: 0 ;}
  .instrucoes-content { width: 97%; margin: 0 auto; }
 }

/* Medium devices (tablets, 48em and up) */
@media (min-width: 48em) {
  /*.instrucoes-content { width: 100%; margin: 0 auto; }*/
}

/* Large devices (desktops, 62em and up) */
@media (min-width: 62em) {
  .main-menu{ width: 50%; }
  .instrucoes-content {width: 90%; margin: 0 auto;  }
}

/* Extra large devices (large desktops, 75em and up) */
@media (min-width: 75em) { }


/* Small devices (portrait phones, less than 34em) */
@media (max-width: 33.9em) {

 }

/* Small devices (landscape phones, less than 48em) */
@media (max-width: 47.9em) { }

/* Medium devices (tablets, less than 62em) */
@media (max-width: 61.9em) {
  .main-menu { width: 100%; }
}

/* Large devices (desktops, less than 75em) */
@media (max-width: 74.9em) { }

/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */